<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>


<h3 style="color: darkolivegreen;">Welcome {{emailId}}!</h3>

<h1 align="center">Show Employees</h1> <br/>

<div class="container">

    <table class="table table-bordered table-sm table-hover table-striped">

        <thead>
            <tr>
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">Experience</th>
                <th class="bg-info text-white" colspan="2" style="text-align: center;">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let emp of employees" align="center">
                <td> {{emp.empId                         }} </td>
                <td> {{emp.empName | gender: emp.gender | uppercase }} </td>
                <td> {{emp.salary  | currency: 'INR'     }} </td>
                <td> {{emp.gender  | lowercase           }} </td>
                <td> {{emp.country                       }} </td>
                <td> {{emp.doj     | date: 'dd-MMM-yyyy' }} </td>
                <td> {{emp.doj     | exp }} </td>
                <!-- <td> <button (click)="editEmployee(emp)"><span class="glyphicon glyphicon-pencil"></span></button> </td> -->
                <td> <button (click)="deleteEmployee(emp)"><span class="glyphicon glyphicon-trash"></span></button> </td>
            </tr>
        </tbody>
    </table>

</div>