<div class="product-container">
  <h3>Welcome {{ emailId }}!</h3>

  <h1 class="title">Products</h1>

  <div class="product-grid">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card product-card">
          <img class="card-img-top" [src]="product.imgsrc" [alt]="product.name" />
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-description">{{ product.description }}</p>
            <p class="card-price"><b>Price: ₹{{ product.price }} /-</b></p>
            <div class="add-to-cart">
              <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
