/* General styling for the product component */
.product-container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    color: blue;
    text-align: center;
  }
  
  .product-grid {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9; /* Maintain aspect ratio for consistent image sizing */
  }
  
  .card-body {
    text-align: left;
    padding: 15px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-description {
    color: gray;
  }
  
  .card-price {
    color: #333;
  }
  
  .add-to-cart {
    text-align: right;
    padding-top: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  